<!-- /billings params: company_id -->

<%= render 'layouts/alt_navigation' %>
<div class="row">
	<div class="span12">
		<div class="row">
			<strong><h1>Billings</h1></strong>
		</div>
		<div class="row floating-paper">
			<table class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>Company Name</th>
						<th>Employee Count</th>
						<th>Month</th>
						<th>Price</th>
						<th>Payment Date</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<%= form_for :user do |f| %>
						<td>1</td>
						<td><a href="/companies/1">Mousehunt</a></td>
						<td>10</td>
						<td>8</td>
						<td>$ 100</td>
						<td>
                            <div id="date" class="input-append input-medium">
                                <input data-format="dd-MM-yyyy" type="text" value=''></input>
                                <span class="add-on">
                                  <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                  </i>
                                </span>
                            </div>
                            <script type="text/javascript">
                              $(function() {
                                $('#date').datetimepicker({
                                  pickTime: false
                                });
                              });
                            </script>
						</td>
						<td>
							<%= f.submit "Save", class: "btn btn-primary" %>
						</td>
						<% end %>
						<td>
							<form method="link" action="#">
								<input type="submit" value="Delete" class="btn btn-primary">
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<input type="button" value="Add new bill" class="btn btn-primary" onclick="add_bill();"/>
		</div>

		<div id="add_employee_label" class="row">
			<strong><h2>Add Bills</h2></strong>
		</div>
		<div id="add_employee_form" class="row floating-paper" style="height:0;">
			<%= form_for :user, html: {class: "form-horizontal"} do |f| %>

	      <div class="control-group">
	        <%= f.label :company, :class=>'control-label' %>
	        <div class="controls">
	          <%= f.select :company, ['Mousehunt'] %>
	        </div>
	      </div>

	      <div class="control-group">
	        <%= f.label :month, :class=>'control-label' %>
	        <div class="controls">
	          <%= f.text_field :month %>
	        </div>
	      </div>

	      <div class="control-group">
	        <%= f.label :total_employee, :class=>'control-label' %>
	        <div class="controls">
	          <%= f.text_field :total_employee, id: 'total_employee', onchange: 'calculate_bill();' %>
	        </div>
	      </div>

	      <div class="control-group">
	        <%= f.label :price_employee, :class=>'control-label' %>
	        <div class="controls">
	          <%= f.text_field :price_employee, id: 'price_employee', onchange: 'calculate_bill();' %>
	        </div>
	      </div>

	      <div class="control-group">
	        <%= f.label :additional_price, :class=>'control-label' %>
	        <div class="controls">
	          <%= f.text_field :additional_price, id: 'additional_price', onchange: 'calculate_bill();' %>
	        </div>
	      </div>

	      <div class="control-group">
	        <%= f.label :total_price, :class=>'control-label' %>
	        <div class="controls">
	          <%= f.text_field :total_price, id: 'total_price', onchange: 'calculate_bill();' %>
	        </div>
	      </div>

	      <%= f.submit "Save", class: "btn btn-large btn-primary pull-right" %>
	      <% end %>
	      
	  	</div>
	</div>
</div>

<script>
	function add_bill()
	{
		document.getElementById("add_employee_label").style.display = "block";
		document.getElementById("add_employee_form").style.display = "block";

		var form = $("#add_employee_form");
	    startAnimation();
	    function startAnimation(){
	      form.animate({height:350},"slow");
	    }

	    setTimeout(func, 500);

	    function func() {
			document.getElementById("add_employee_label").scrollIntoView();
		}
	}

	function calculate_bill()
	{
		var total = document.getElementById('total_price');
		var count = document.getElementById('total_employee');
		var price = document.getElementById('price_employee');
		var addit = document.getElementById('additional_price');

		total.value = parseInt(count.value)*parseInt(price.value) + parseInt(addit.value);
	}
</script>