<div class="row">
	<div class="span4 offset4">
		<strong><h1>Sign In</h1></strong>
	</div>
</div>
<div class="row space20">
	<div class="span4 offset4 floating-paper">
	  <%= form_for(:user) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %><br/>

  		<label class="checkbox">
	      <%= f.check_box :remember %>
	      <%= f.label :remember, "Remember me" %>
	    </label>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      <% end %>
	</div>
</div>