<div class="row">
  <div class="span8">


  <%= form_for @user_import do |f| %>
    <% if @user_import.errors.any? %>
      <div id="error_explanation" class="alert alert-error">
        <h4><%= pluralize(@user_import.errors.count, "error") %> prohibited this import from completing:</h4>
        <ul>
        <% @user_import.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="row">
      <strong><h1>User Import</h1></strong>
    </div>

    <div class="row floating-paper">
      <p>A CSV or Excel file can be used to import records. The first row should be the column name. The following columns are allowed.</p>

      <ul>
        <li>email : string (If you want to update existing employee's profile, insert his/her email here)</li>
        <li>name : string</li>
        <li>division : string</li>
        <li>office : string (You must specify existing office name here)</li>
      </ul>

        <span class="field">
          <%= f.file_field :file, class: '' %>
        </span>
        <span class="buttons"><%= f.submit "Import", class: 'pull-right' %></span>
      <% end %>
    </div>
  </div>
  <%= render 'layouts/navigation' %>
</div>