<div class="row">
  <div class="span8 offset2">
    <strong><h1>Edit <%= resource_name.to_s.humanize %></h1></strong>
  </div>
</div>
<div class="row space20">
  <div class="span8 offset2 floating-paper">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        
        <%= devise_error_messages! %>

        <%= f.label :email, :class=>'control-label' %>
        <%= f.text_field :email, :autofocus => true, :placeholder=>'Type your email here' %>


        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <span class="help-block">Currently waiting confirmation for: <%= resource.unconfirmed_email %></span>
        <% end %>

     
        <span class="help-block">Currently waiting confirmation for: blablabla@email.com</span>
          <%= f.label :password, :class=>'control-label' %>
        <%= f.password_field :password, :autocomplete => "off", :placeholder=>'Type your password here' %>
        <span class="help-block">Leave blank if you don't want to change it</span>

          <%= f.label :password_confirmation, "Password confirmation", :class=>'control-label' %>
          <%= f.password_field :password_confirmation, :placeholder=>'Type your password again' %>

          <%= f.label :current_password, "Current Password", :class=>'control-label' %>
          <%= f.password_field :current_password, :placeholder=>'Type your currentpassword' %>
          <span class="help-block">We need your current password to confirm your changes</span>

        <%= f.submit "Update", class: "btn btn-large btn-primary pull-right" %>
      <% end %>
  </div>
</div>
