<!-- /signup -->
<div class="row">
  <div class="span8 offset2">
    <strong><h1>Sign Up Now!</h1></strong>
  </div>
</div>
<div class="row space20">
  <div class="span8 offset2 floating-paper">
    <%= form_tag(resource, :as => resource_name, :class => 'form-horizontal', :url => registration_path(resource_name), :name => 'new_user') do %>
   
    <h4>Company Data</h4><br/>

    <div class="control-group">
      <%= label_tag :company_name, nil, :class=>'control-label' %>
      <div class="controls">
        <%= text_field_tag :company_name, nil, :placeholder=>'Type your company name here' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :company_address, nil, :class=>'control-label' %>
      <div class="controls">
        <%= text_field_tag :company_address, nil, :placeholder=>'Type your company address here' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= label_tag :company_contact, nil, :class=>'control-label' %>
      <div class="controls">
        <%= text_field_tag :company_contact, nil, :placeholder=>'Type your contact number here' %>
      </div>
    </div>  

    <br/><br/><h4>Office Data</h4><br/>

    <div class="control-group">
      <%= label_tag :office_name, nil, :class=>'control-label' %>
      <div class="controls">
        <%= text_field_tag :office_name, nil, :placeholder=>'Type your office name here' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :office_latitude, nil, :class=>'control-label' %>
      <div class="controls">
        <%= text_field_tag :office_latitude, nil, :placeholder=>'Insert the latitude of your office location here' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :office_longitude, nil, :class=>'control-label' %>
      <div class="controls">
        <%= text_field_tag :office_longitude, nil, :placeholder=>'Insert the longitude of your office location here' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :office_range, nil, :class=>'control-label' %>
      <div class="controls">
        <%= text_field_tag :office_range, nil, :placeholder=>'Insert the acceptable range for checkin/checkout in meters' %>
      </div>
    </div>
    <div align="center" id="map" style="width: 600px; height: 400px; margin-bottom:20px;"></div>
    <div class="input-append" style="margin-bottom:10px;">
      <input class="span2" type="text" name="address" value="" placeholder='Search your office location here'>
      <input type="submit" value="Search!" class="btn btn-primary" onclick="showAddress(address.value); return false">
    </div>

    

    <br/><br/><h4>User Data</h4><br/>
    <div class="control-group">
      <%= label_tag :email, nil, :class=>'control-label' %>
      <div class="controls">
        <%= text_field_tag :email, nil, :placeholder=>'Type your email here' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :password, nil, :class=>'control-label' %>
      <div class="controls">
        <%= password_field_tag :password, nil, :placeholder=>'Type your password here' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= label_tag :password_confirmation, "Password confirmation", :class=>'control-label' %>
      <div class="controls">
        <%= password_field_tag :password_confirmation, nil, :placeholder=>'Type your password again' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :name, nil, :class=>'control-label' %>
      <div class="controls">
        <%= text_field_tag :name, nil, :placeholder=>'Type your name here' %>
      </div>
    </div>

     <div class="control-group">
      <%= label_tag :division, nil, :class=>'control-label' %>
      <div class="controls">
        <%= text_field_tag :division, nil, :placeholder=>'Type your division here' %>
      </div>
    </div>

    <div>Read our <a href="/privacy">Privacy Policy</a> and <a href="/terms">Terms of Service</a></div><br/><br/>
   
    <%= submit_tag "Create my account", class: "btn btn-large btn-primary pull-right" %>
    <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>

<head>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyBlCtjE7pE8Y8pLOY0LQ1E1rRc7_BM7ji4"
      type="text/javascript"></script>
    <script type="text/javascript">
    var latitude ;
    var longitude;
if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition);
    }
  else{x.innerHTML="Geolocation is not supported by this browser.";}
  
function showPosition(position)
  {
  latitude=position.coords.latitude;
  longitude= position.coords.longitude;  
  }

 function load() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map"));
        map.addControl(new GSmallMapControl());
        map.addControl(new GMapTypeControl());
        var center = new GLatLng(latitude,    longitude);
        map.setCenter(center, 15);
        geocoder = new GClientGeocoder();
        var marker = new GMarker(center, {draggable: true});  
        map.addOverlay(marker);
        document.new_user.office_latitude.value = center.lat().toFixed(5);
        document.new_user.office_longitude.value = center.lng().toFixed(5);

    GEvent.addListener(marker, "dragend", function() {
       var point = marker.getPoint();
        map.panTo(point);
       document.new_user.office_latitude.value = point.lat().toFixed(5);
       document.new_user.office_longitude.value = point.lng().toFixed(5);

        });


   GEvent.addListener(map, "moveend", function() {
      map.clearOverlays();
    var center = map.getCenter();
      var marker = new GMarker(center, {draggable: true});
      map.addOverlay(marker);
      document.new_user.office_latitude.value = center.lat().toFixed(5);
     document.new_user.office_longitude.value = center.lng().toFixed(5);


   GEvent.addListener(marker, "dragend", function() {
      var point =marker.getPoint();
       map.panTo(point);
      document.new_user.office_latitude.value = point.lat().toFixed(5);
       document.new_user.office_longitude.value = point.lng().toFixed(5);

        });
 
        });

      }
    }

     function showAddress(address) {
     var map = new GMap2(document.getElementById("map"));
       map.addControl(new GSmallMapControl());
       map.addControl(new GMapTypeControl());
       if (geocoder) {
        geocoder.getLatLng(
          address,
          function(point) {
            if (!point) {
              alert(address + " not found");
            } else {
      document.new_user.office_latitude.value = point.lat().toFixed(5);
     document.new_user.office_longitude.value = point.lng().toFixed(5);
     map.clearOverlays()
      map.setCenter(point, 14);
   var marker = new GMarker(point, {draggable: true});  
     map.addOverlay(marker);

    GEvent.addListener(marker, "dragend", function() {
      var pt = marker.getPoint();
       map.panTo(pt);
      document.new_user.office_latitude.value = pt.lat().toFixed(5);
       document.new_user.office_longitude.value = pt.lng().toFixed(5);
        });


   GEvent.addListener(map, "moveend", function() {
      map.clearOverlays();
    var center = map.getCenter();
      var marker = new GMarker(center, {draggable: true});
      map.addOverlay(marker);
      document.new_user.office_latitude.value = center.lat().toFixed(5);
     document.new_user.office_longitude.value = center.lng().toFixed(5);

   GEvent.addListener(marker, "dragend", function() {
     var pt = marker.getPoint();
      map.panTo(pt);
    document.new_user.office_latitude.value = pt.lat().toFixed(5);
     document.new_user.office_longitude.value = pt.lng().toFixed(5);
        });
 
        });

            }
          }
        );
      }
    }
    </script>
  <script type="text/javascript">
//<![CDATA[
var gs_d=new Date,DoW=gs_d.getDay();gs_d.setDate(gs_d.getDate()-(DoW+6)%7+3);
var ms=gs_d.valueOf();gs_d.setMonth(0);gs_d.setDate(4);
var gs_r=(Math.round((ms-gs_d.valueOf())/6048E5)+1)*gs_d.getFullYear();
var gs_p = (("https:" == document.location.protocol) ? "https://" : "http://");
document.write(unescape("%3Cscript src='" + gs_p + "s.gstat.orange.fr/lib/gs.js?"+gs_r+"' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>
</head>

<body onload="load()" onunload="GUnload()" >

  
  <script type="text/javascript">
//<![CDATA[
if (typeof _gstat != "undefined") _gstat.audience('','pagesperso-orange.fr');
//]]>
</script>
</body>
