<h2>Sign up</h2>

<%= form_tag(resource, :as => resource_name, :url => registration_path(resource_name), :name => 'new_user') do %>
  <%= devise_error_messages! %>
Your Profile <br/>
  <div><%= label_tag :email %><br />
  <%= email_field_tag :email %></div>

  <div><%= label_tag :password %><br />
  <%= password_field_tag :password %></div>

  <div><%= label_tag :password_confirmation %><br />
  <%= password_field_tag :password_confirmation %></div>

  <div><%= label_tag :name %><br />
  <%= text_field_tag :name %></div>

  <div><%= label_tag :division %><br />
  <%= text_field_tag :division %></div>

<br/>Company Profile<br/>
  <div><%= label_tag :company_name %><br />
  <%= text_field_tag :company_name %></div>

  <div><%= label_tag :company_address %><br />
  <%= text_field_tag :company_address %></div>

  <div><%= label_tag :company_contact %><br />
  <%= text_field_tag :company_contact %></div>

<br/>Office<br/>
  
  <div><%= label_tag :office_latitude %><br />
  <%= text_field_tag :office_latitude %></div>

  <div><%= label_tag :office_longitude %><br />
  <%= text_field_tag :office_longitude %></div>

  <div><%= label_tag :office_name %><br />
  <%= text_field_tag :office_name %></div>

  <div><%= label_tag :office_range %><br />
  <%= text_field_tag :office_range %></div>

  <div><%= submit_tag "Sign up" %></div>
<% end %>

<head>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyBlCtjE7pE8Y8pLOY0LQ1E1rRc7_BM7ji4"
      type="text/javascript"></script>
    <script type="text/javascript">

 function load() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map"));
        map.addControl(new GSmallMapControl());
        map.addControl(new GMapTypeControl());
        var center = new GLatLng(-6.890604199999999,107.6170511);
        map.setCenter(center, 15);
        geocoder = new GClientGeocoder();
        var marker = new GMarker(center, {draggable: true});  
        map.addOverlay(marker);
        document.new_user.office_latitude.value = center.lat().toFixed(5);
        document.new_user.office_longitude.value = center.lng().toFixed(5);

    GEvent.addListener(marker, "dragend", function() {
       var point = marker.getPoint();
        map.panTo(point);
        document.new_user.office_latitude.value = center.lat().toFixed(5);
        document.new_user.office_longitude.value = center.lng().toFixed(5);

        });


   GEvent.addListener(map, "moveend", function() {
      map.clearOverlays();
    var center = map.getCenter();
      var marker = new GMarker(center, {draggable: true});
      map.addOverlay(marker);
        document.new_user.office_latitude.value = center.lat().toFixed(5);
        document.new_user.office_longitude.value = center.lng().toFixed(5);


   GEvent.addListener(marker, "dragend", function() {
      var point =marker.getPoint();
       map.panTo(point);
        document.new_user.office_latitude.value = center.lat().toFixed(5);
        document.new_user.office_longitude.value = center.lng().toFixed(5);

        });
 
        });

      }
    }

     function showAddress(address) {
     var map = new GMap2(document.getElementById("map"));
       map.addControl(new GSmallMapControl());
       map.addControl(new GMapTypeControl());
       if (geocoder) {
        geocoder.getLatLng(
          address,
          function(point) {
            if (!point) {
              alert(address + " not found");
            } else {
        document.new_user.office_latitude.value = center.lat().toFixed(5);
        document.new_user.office_longitude.value = center.lng().toFixed(5);
     map.clearOverlays()
      map.setCenter(point, 14);
   var marker = new GMarker(point, {draggable: true});  
     map.addOverlay(marker);

    GEvent.addListener(marker, "dragend", function() {
      var pt = marker.getPoint();
       map.panTo(pt);
        document.new_user.office_latitude.value = center.lat().toFixed(5);
        document.new_user.office_longitude.value = center.lng().toFixed(5);
        });


   GEvent.addListener(map, "moveend", function() {
      map.clearOverlays();
    var center = map.getCenter();
      var marker = new GMarker(center, {draggable: true});
      map.addOverlay(marker);        document.new_user.office_latitude.value = center.lat().toFixed(5);
        document.new_user.office_longitude.value = center.lng().toFixed(5);

   GEvent.addListener(marker, "dragend", function() {
     var pt = marker.getPoint();
      map.panTo(pt);
        document.new_user.office_latitude.value = center.lat().toFixed(5);
        document.new_user.office_longitude.value = center.lng().toFixed(5);
        });
 
        });

            }
          }
        );
      }
    }
    </script>
  <script type="text/javascript">
//<![CDATA[
var gs_d=new Date,DoW=gs_d.getDay();gs_d.setDate(gs_d.getDate()-(DoW+6)%7+3);
var ms=gs_d.valueOf();gs_d.setMonth(0);gs_d.setDate(4);
var gs_r=(Math.round((ms-gs_d.valueOf())/6048E5)+1)*gs_d.getFullYear();
var gs_p = (("https:" == document.location.protocol) ? "https://" : "http://");
document.write(unescape("%3Cscript src='" + gs_p + "s.gstat.orange.fr/lib/gs.js?"+gs_r+"' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>
</head>

<body onload="load()" onunload="GUnload()" >

  <form action="#" onsubmit="showAddress(this.address.value); return false">
     <p>        
      <input type="text" size="60" name="address" value="" />
      <input type="submit" value="Search!" />
      </p>
    </form>

 <p align="left">
<p>
  <div align="center" id="map" style="width: 600px; height: 400px"><br/></div>
   </p>
  </div>
  <script type="text/javascript">
//<![CDATA[
if (typeof _gstat != "undefined") _gstat.audience('','pagesperso-orange.fr');
//]]>
</script>
</body>

<%= render "devise/shared/links" %>
