<table id="users" class="table table-hover table-condensed">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "email" %></th>
      <th><%= sortable "division" %></th>
      <th><%= sortable "role" %></th>
      <th><%= sortable "office" %></th>
    </tr>
  </thead>
  <tbody>
    <% for user in @users %>
      <%= fields_for "users[]", user do |f| %>
      <tr>
        <%if (can? :update, user) && user!=current_user  %>
          <td><%= link_to user.name, user_path(user) %></td>
          <td><%=user.email%></td>
          <td><%= f.text_field :division %></td>
          <td><%= f.select :role, {"HR"=>"2", "Employee"=>"3"}%></td>
          <td><%= f.collection_select :office_id, Company.find(Office.find(current_user.office_id).company_id).offices, :id, :name %></td>
          <td><%= link_to "Delete", user, method: :delete, data: { confirm: "You sure?" }, title: user.name, class: "btn btn-primary"%></td>
        <% else %>
          <td><%= link_to user.name, user %></td>
          <td><%=user.email%></td>
          <td><%=user.division%></td>
          <td>
          <% if user.role == "0" %>
            Admin
          <% elsif user.role == "1"%>
            Owner
          <% elsif user.role == "2"%>
            HR
          <% elsif user.role == "3"%>
            Employee
          <% end %>
          </td>
          <td><%= Office.find(user.office_id).name %> </td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users %>