<!-- /users -->
<%= render 'layouts/alt_navigation' %>
<div class="row">
  <div class="span12">
    <div class="row">
      <h1><strong>Employees</strong></h1>
    </div>
    <div class="row floating-paper">
      <table id="users" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th><%= sortable "name" %></th>
            <th><%= sortable "email" %></th>
            <th><%= sortable "division" %></th>
            <th><%= sortable "role" %></th>
            <th><%= sortable "office" %></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <%if (can? :update, user) && user!=current_user  %>
              <td><%= link_to user.name, user_path(user) %></td>
              <td><%=user.email%></td>
              <%= form_for(user) do |f| %>
                <td><%= f.text_field :division %></td>
                <td><%= f.select :role, {"HR"=>"2", "Employee"=>"3"}%></td>
                <td><%= f.collection_select :office_id, Company.find(Office.find(current_user.office_id).company_id).offices, :id, :name %></td>
                <td><%= f.submit "Save", class: "btn btn-primary" %></td>
              <% end %>
              <td><%= button_to "Delete", user, method: :delete, data: { confirm: "You sure?" }, title: user.name, class: "btn btn-primary"%></td>
            <% else %>
              <td><%= link_to user.name, user %></td>
              <td><%=user.email%></td>
              <td><%=user.division%></td>
              <td>
              <% if user.role == "0" %>
                Admin
              <% elsif user.role == "1"%>
                Owner
              <% elsif user.role == "2"%>
                HR
              <% elsif user.role == "3"%>
                Employee
              <% end %>
              </td>
              <td><%= Office.find(user.office_id).name %> </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @users %>
      <input type="button" value="Add employee" class="btn btn-primary" onclick="add_employee();"/>
      <%= link_to "Employee Performance", worktimes_path+"?from=" + Time.now.advance(:hours => -168).strftime("%d-%m-%Y") + "&to=" + Time.now.strftime("%d-%m-%Y"), class: 'btn btn-primary pull-right white-link' %>

      <%= link_to "Import users", new_user_import_path, class: "btn btn-primary" %>
      <!--<form method="link" action="/employee/add">
        <input type="submit" value="Add employee" class="btn btn-primary">
      </form>-->
    </div>

    <div id="add_employee_label" class="row">
      <h2><strong>Add Employee</strong></h2>
    </div>
    <div id="add_employee_form" class="row floating-paper" style="height:0;">
      <%= form_for(User.new, :url => url_for(:controller=>'users', :action => 'add'), html: {class: "form-horizontal"}) do |f| %>

        <div class="control-group">
          <%= f.label :name, :class=>'control-label' %>
          <div class="controls">
            <%= f.text_field :name, :placeholder=>'Type your name here' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :email, :class=>'control-label' %>
          <div class="controls">
            <%= f.text_field :email, :placeholder=>'Type your email here' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :division, :class=>'control-label' %>
          <div class="controls">
            <%= f.text_field :division, :placeholder=>'Type your division here' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :role, :class=>'control-label' %>
          <div class="controls">
            <%= f.select :role, {"HR"=>"2", "Employee"=>"3"}%>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :office, :class=>'control-label' %>
          <div class="controls">
            <%= f.collection_select :office_id, Company.find(Office.find(current_user.office_id).company_id).offices, :id, :name %>
          </div>
        </div>

        <%= f.submit "Add", class: "btn btn-large btn-primary pull-right" %>
        <% end %>
        
      </div>
  </div>
</div>