<%= hidden_field_tag :direction, params[:direction] %>  
<%= hidden_field_tag :sort, params[:sort] %>  
<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th><%= sortable "id" %></th>
			<th><%= sortable "name" %></th>
			<th><%= sortable "address" %></th>
			<th><%= sortable "contact" %></th>
			<th><%= sortable "owner" %></th>
			<th><%= sortable "status" %></th>
			<th><%= sortable "deposit" %></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @companies.each do |company| %>
		<tr>
			<td><%= company.id %></td>
			<td><%= link_to company.name, company %></td>
			<td><%= company.address %></td>
			<td><%= company.contact %></td>
			<td><%= User.find(Ownership.find_by_company_id(company).owner_id).email %></td>
			<%= form_for(company) do |f| %>
				<td><%= f.select :status, {"Working"=>true, "Freeze"=>false}%></td>
				<td><%= f.text_field :deposit %></td>
				<td><%= f.submit "Save", class: "btn btn-primary" %></td>
		    <% end %>
		    <% if can? :destroy, company %>
		    	<td><%= button_to "Delete", company, method: :delete, data: { confirm: "You sure?" }, title: company.name, class: "btn btn-primary"%></td>
		    <% else %>
		    	<td></td>
		    <% end %>
		</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate @companies%>