<!-- /companies/:id/edit -->

<div class="row">
  <div class="span8">
    <div class="row">
      <strong><h1>Edit Company</h1></strong>
    </div>
    <div class="row floating-paper">
      <%= form_for(@company, html: {class: "form-horizontal"}) do |f| %>

      <div class="control-group">
        <%= f.label :company_name, :class=>'control-label' %>
        <div class="controls">
          <%= f.text_field :name, :placeholder=>'Type your name here' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :address, :class=>'control-label' %>
        <div class="controls">
          <%= f.text_field :address, :placeholder=>'Type your address here' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :contact, :class=>'control-label' %>
        <div class="controls">
          <%= f.text_field :contact, :placeholder=>'Type your contact here' %>
        </div>
      </div>

      <%= f.submit "Save", class: "btn btn-large btn-primary pull-right" %>
      <% end %>
    </div>
    <div class="row">
      <strong><h1>Offices</h1></strong>
    </div>
    <div class="row floating-paper">
      <table id="edit-office-table" class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Range</th>            
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @offices.each do |office| %>
          <tr>
              <td><%= office.name %></td>
              <td><%= office.latitude %></td>
              <td><%= office.longitude %></td>
              <td><%= office.range %></td>
              <td><%= link_to "Edit", edit_office_path(office), class: "btn btn-primary"%></td>
              <% if can? :destroy, office %>
                <td><%= link_to "Delete", office, method: :delete, data: { confirm: "You sure?" }, title: office.name, class: "btn btn-primary" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div id="" class="row">
      <strong><h2>Add Office</h2></strong>
    </div>
    <div id="" class="row floating-paper">
      <%= form_for(Office.new, html: {class: "form-horizontal", :id => 'new_office', :name => 'new_office'}) do |f| %>

        <div class="control-group">
          <%= f.label :name, :class=>'control-label' %>
          <div class="controls">
            <%= f.text_field :name, :placeholder=>'Type your name here' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :latitude, :class=>'control-label' %>
          <div class="controls">
            <%= f.text_field :latitude, :placeholder=>'Location latitude' %>
          </div>
        </div>
        
        <div class="control-group">
          <%= f.label :longitude, :class=>'control-label' %>
          <div class="controls">
            <%= f.text_field :longitude, :placeholder=>'Location longitude' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :range, :class=>'control-label' %>
          <div class="controls">
            <%= f.text_field :range, :placeholder=>'Acceptable range' %>
          </div>
        </div>

        <div class="input-append" style="margin-bottom:10px;">
        <input class="span2" type="text" id="address" onkeypress="return noenter()" value="" placeholder='Search your office location here'>
        <input type="submit" value="Search!" class="btn btn-primary" onclick="showAddress(address.value); return false">
        </div>

        <div align="center" id="map" style="width: 600px; height: 400px; margin-bottom:20px;"></div>

        <%= f.submit "Add", class: "btn btn-large btn-primary pull-right" %>
      <% end %>
        
      </div>
  </div>
  <%= render 'layouts/navigation' %>
</div>

<head>
    <script src="https://maps-api-ssl.google.com/maps/api/js?v=3&sensor=false&key=AIzaSyCNAXEqv9r2yKstfWppeUeSjoM2pdM6vRw"
      type="text/javascript"></script>
    <script type="text/javascript">
    function noenter() {
    if (window.event && window.event.keyCode == 13)
    {
      getAddress();
      return false;
    }
   }
    var latitude ;
    var longitude;
if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition);
    }
  else{x.innerHTML="Geolocation is not supported by this browser.";}
  
function showPosition(position)
  {
  latitude=position.coords.latitude;
  longitude= position.coords.longitude;  
  }

 var geocoder;
    var map = new google.maps.Map(document.getElementById("map"));
    function initialize()
    {
     geocoder = new google.maps.Geocoder();
     var latlng = new google.maps.LatLng(latitude,longitude)
     var myOptions =
     {
      zoom: 15,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map"), myOptions);
    var marker=new google.maps.Marker({
      map: map,
      draggable: true,
      position: latlng,
      animation: google.maps.Animation.DROP
    });
    marker.setMap(map);

    document.new_office.office_latitude.value=latlng.lat().toFixed(5);
    document.new_office.office_longitude.value=latlng.lng().toFixed(5);


    google.maps.event.addListener(marker, "dragend", function() {
     var point = marker.getPosition();
     map.panTo(point);
     document.new_office.office_latitude.value = point.lat().toFixed(5);
     document.new_office.office_longitude.value = point.lng().toFixed(5);

   });


    google.maps.event.addListener(map, "moveend", function() {
      var center = map.getCenter();
      var marker = new google.maps.Marker(center, {draggable: true});
      marker.setMap(map);
      document.new_office.office_latitude.value = center.lat().toFixed(5);
      document.new_office.office_longitude.value = center.lng().toFixed(5);


      google.maps.event.addListener(marker, "dragend", function() {
        var point =marker.getPosition();
        map.panTo(point);
        document.new_office.office_latitude.value = point.lat().toFixed(5);
        document.new_office.office_longitude.value = point.lng().toFixed(5);

      });

    });
  }
  function getAddress()
  {
    var address = document.getElementById("address").value;

    var latlng;
    geocoder.geocode({'address': address},function(results, status)
    {

      if (status == google.maps.GeocoderStatus.OK)
      {
        latlng = results[0].geometry.location;
        document.new_office.office_latitude.value= latlng.lat();
        document.new_office.office_longitude.value= latlng.lng();
        map.setCenter(results[0].geometry.location);
        marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location,
          draggable: true
        });
        marker.setMap(map);

        google.maps.event.addListener(marker, "dragend", function() {
          var pt = marker.getPosition();
          map.panTo(pt);
          document.new_office.office_latitude.value = pt.lat().toFixed(5);
          document.new_office.office_longitude.value = pt.lng().toFixed(5);
        });


        google.maps.event.addListener(map, "moveend", function() {
          var center = map.getCenter();
          var marker = new google.maps.Marker(center, {draggable: true});
          marker.setMap(map);
          document.new_office.office_latitude.value = center.lat().toFixed(5);
          document.new_office.office_longitude.value = center.lng().toFixed(5);

          google.maps.event.addListener(marker, "dragend", function() {
           var pt = marker.getPosition();
           map.panTo(pt);
           document.new_office.office_latitude.value = pt.lat().toFixed(5);
           document.new_office.office_longitude.value = pt.lng().toFixed(5);
         });

        });

      }
      else {
        alert("Geocode was not successful for the following reason: " + status);
      }

    });
}
    </script>
  <script type="text/javascript">
//<![CDATA[
var gs_d=new Date,DoW=gs_d.getDay();gs_d.setDate(gs_d.getDate()-(DoW+6)%7+3);
var ms=gs_d.valueOf();gs_d.setMonth(0);gs_d.setDate(4);
var gs_r=(Math.round((ms-gs_d.valueOf())/6048E5)+1)*gs_d.getFullYear();
var gs_p = (("https:" == document.location.protocol) ? "https://" : "http://");
document.write(unescape("%3Cscript src='" + gs_p + "s.gstat.orange.fr/lib/gs.js?"+gs_r+"' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>
</head>

<body onload="initialize()" onunload="google.maps.Unload()" >

  
  <script type="text/javascript">
//<![CDATA[
if (typeof _gstat != "undefined") _gstat.audience('','pagesperso-orange.fr');
//]]>
</script>
</body>