<!-- /companies -->

<div class="row">
	<div class="span12">
		<div class="row">
			<strong><h1>Companies</h1></strong>
		</div>
		<div class="row floating-paper">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Address</th>
						<th>Contact</th>
						<th>Owner</th>
						<th>Status</th>
						<th>Deposit</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @companies.each do |company| %>
					<tr>
						<td><%= company.id %></td>
						<td><%= link_to company.name, company %></td>
						<td><%= company.address %></td>
						<td><%= company.contact %></td>
						<td><%= User.find(Ownership.find_by_company_id(company).owner_id).email %></td>
						<%= form_for(company) do |f| %>
							<td><%= f.select :status, {"Working"=>true, "Freeze"=>false}%></td>
							<td><%= f.text_field :deposit %></td>
							<td><%= f.submit "Save", class: "btn btn-primary" %></td>
					    <% end %>
					    <% if can? :destroy, company %>
					    <td><%= button_to "Delete", company, method: :delete, data: { confirm: "You sure?" }, title: company.name, class: "btn btn-primary"%></td>
					    <% end %>
					</tr>
					<% end %>
				</tbody>
			</table>
			<%= will_paginate @companies %>
		</div>
	</div>
</div>