<!-- /companies -->
<%= render 'layouts/alt_navigation' %>
<div class="row">
	<div class="span12">
		<div class="row">
			<strong><h1>Companies</h1></strong>
		</div>
		<div class="row floating-paper">
		<%= form_tag companies_path, :method => 'get', :id => "companies_search", :class => 'form-search' do %>
		  <p>
		    <%= text_field_tag :search, params[:search], :class => 'input-large search-query' %>
		    <%= submit_tag "Search", :name => nil %>
		  </p>
		  <%= hidden_field_tag :direction, params[:direction] %>  
		  <%= hidden_field_tag :sort, params[:sort] %> 
		<% end %>
		
		<%= form_tag update_batch_company_path, :method => :put do %>
          <div id="companies"><%= render 'companies' %></div>
          <%= submit_tag "Save All", class: "btn btn-primary" %>
        <% end %>

		</div>
	</div>
</div>