<!-- /companies/:id -->

<div class="row">
	<div class="span8">
		<div class="row">
			<strong><h1>Company</h1></strong>
		</div>
		<div class="row floating-paper">
			<dl class="dl-horizontal">
		    <dt>Company Name</dt>
		    <dd><%= @company.name %></dd>
		    <dt>Address</dt>
		    <dd><%= @company.address %></dd>
		    <dt>Contact</dt>
		    <dd><%= @company.contact %></dd>
		    <dt>Deposit</dt>
		    <dd><%= @company.deposit %></dd>
		    <dt>Status</dt>
		    <dd><% if @company.status %>Working<% else %>Freeze<% end %></dd>
	    </dl>
	    <%= link_to "Edit Information", edit_company_path(@company), class: "btn btn-primary"%>
	    <%= link_to "View Bills", billings_path+"?id="+@company.id.to_s, class: "btn btn-primary"%>
		</div>
		<div class="row">
			<strong><h1>Offices</h1></strong>
		</div>
		<div class="row floating-paper">
			<table id="office-table" class="table table-hover">
				<thead>
					<tr>
						<th>Office name</th>
						<th>Latitude</th>
						<th>Longitude</th>
						<th>Range</th>
					</tr>
				</thead>
				<tbody>
					<% @offices.each do |office| %> 
						<tr>
							<td><%= office.name %></td>
							<td><%= office.latitude %></td>
							<td><%= office.longitude %></td>
							<td><%= office.range %></td>
							<td><%= link_to "Edit", edit_office_path(office), class: "btn btn-primary"%></td>
							<% if can? :destroy, office %>
				                <td><%= link_to "Delete", office, method: :delete, data: { confirm: "You sure?" }, title: office.name, class: "btn btn-primary" %></td>
				            <% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= will_paginate @offices %>
		</div>
	</div>
	<%= render 'layouts/navigation' %>
</div>

<script type="text/javascript" src="assets/gs_sortable.js"></script>
<script type="text/javascript">
  var TSort_Data = new Array ('office-table', 'i', 's', 'f', 'f', 'f');
  tsRegister();
</script>