<script type="text/javascript" src="assets/date_format.js"></script>
<%= render 'layouts/alt_navigation' %>
<div class="row">
  <div class="span12">
    <div class="row">
      <h1><strong>Worktimes of all Employees</strong></h1>
    </div>

    <div class="row floating-paper blue-link">
      <div class="row">
          <div class="span6">
              <div class="row">
                        <div class="span2" style="width:90px;">Period from : </div>
                      <div id="datetimepicker_from" class="span4">
                                  <div id="date_from" class="input-append input-medium">
                                    <input data-format="dd-MM-yyyy" type="text" id="datefrom" value='<%= Time.parse(params[:from]).strftime("%d-%m-%Y") %>'></input>
                                    <span class="add-on">
                                      <i class="icon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar">
                                      </i>
                                    </span>
                            </div>
                            <script type="text/javascript">
                              $(function() {
                                $('#date_from').datetimepicker({
                                  pickTime: false
                                });
                              });
                            </script>
                        </div>
              </div>
              <div class="row">
                            <div class="span2" style="width:90px;">to : </div>
                      <div id="datetimepicker_to" class="span4">
                                  <div id="date_to" class="input-append input-medium">
                                    <input  data-format="dd-MM-yyyy" type="text" id="dateto" value='<%= Time.parse(params[:to]).strftime("%d-%m-%Y") %>'></input>
                                    <span class="add-on">
                                      <i class="icon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar">
                                      </i>
                                    </span>
                            </div>
                            <script type="text/javascript">
                              $(function() {
                                $('#date_to').datetimepicker({
                                  pickTime: false
                                });
                              });
                            </script>
                        </div>
              </div>
          </div>
          <div class="span1">
              <input type="button" class="btn btn-large btn-primary" value="Refresh" onclick="refresh_performance(<%= current_user.id %>)"/>
          </div>
      </div>
      Download as 
      <%= link_to "Excel", worktimes_path(format: "xls")+"?from="+params[:from]+"&to="+params[:to] %>
      <div class="row">
        <div class="span11">
          <table class="table table-hover">
                <%= magic_grid(@worktimes, [:user_id, :checkin, :place_checkin, :checkout, :place_checkout], class: "table table-hover table-condensed") do |w| %>
                  <tr>
                    <td><%= link_to w.user.name, request.fullpath+'&id='+w.user.id.to_s %><br/><%= w.user.email %></td>
                    <td><p id="checkin<%= w.id %>"></p></td>
                    <td><%= w.place_checkin %></td>
                    <td><p id="checkout<%= w.id %>"></p></td>
                    <td><%= w.place_checkout %></td>
                    <script>
                      var cin = new Date( <%= w.checkin.to_i * 1000 %>);
                      var cout = new Date( <%= w.checkout.to_i * 1000 %>);
                      document.getElementById("checkin<%= w.id %>").innerHTML = cin.toDateString()+",<br/>"+cin.toLocaleTimeString();
                      document.getElementById("checkout<%= w.id %>").innerHTML = cout.toDateString()+",<br/>"+cout.toLocaleTimeString();;
                    </script>
                  </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function refresh_performance(id)
  {
      if (checkDate())
      {
        var from = document.getElementById("datefrom").value.replace("/", "-").replace("/", "-");
        var to = document.getElementById("dateto").value.replace("/", "-").replace("/", "-");
        var url_now = location.protocol + '//' + location.host + location.pathname;

        window.location = url_now + "?from=" + from + "&to=" + to;
      }
      else
      {
      }          
  }
</script>