<table class="table table-hover">
  <thead>
    <tr>
      <% if params[:id].nil? %>
        <th><%= sortable "user_id" %></th>
      <% end %>
      <th><%= sortable "checkin" %></th>
      <th><%= sortable "place_checkin" %></th>
      <th><%= sortable "checkout" %></th>
      <th><%= sortable "place_checkout" %></th>
    </tr>
  </thead>
  <tbody>
    <% @worktimes.each do |w| %>
      <% user = User.find(w.user_id) %>
      <tr>
        <% if params[:id].nil? %>
          <td><%= link_to user.name, worktimes_path(:from => params[:from], :to => params[:to], :id => user.id.to_s) %><br/><%= user.email %></td>
        <% end %>
        <td><%= w.checkin.advance(:minutes => cookies["time_zone_offset"].to_i).strftime("%-d %B %Y, %H:%M:%S") %></td>
        <td><%= w.place_checkin %></td>
        <td><% if !w.checkout.nil? %><%= w.checkout.advance(:minutes => cookies["time_zone_offset"].to_i).strftime("%-d %B %Y, %H:%M:%S") %><% end %></td>
        <td><%= w.place_checkout %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @worktimes %>