<div class="row">
	<div class="span12">
		<ul class="nav nav-tabs">
			<li><a href=<%=user_path(current_user)%>><i class="icon-home icon-white"></i> Home</a></li>
			<li><a href=<%=edit_user_path(current_user)%>><i class="icon-user icon-white"></i> Edit Profile</a></li>
			<li><a href=<%=worktimes_path+"?id=" + current_user.id.to_s + "&from=" + Time.now.advance(:hours => -168).strftime("%d-%m-%Y") + "&to=" + Time.now.strftime("%d-%m-%Y")%>>
				<i class="icon-time icon-white"></i> My Performance</a></li>
			<% if can? :read, Company.find(current_user.company_id) %>
				<li><a href=<%=company_path( Company.find(Ownership.find_by_owner_id(current_user).company_id))%>><i class="icon-briefcase icon-white"></i> Company</a></li>
			<% end %>
			<% if can? :index, current_user %>
				<li><a href=<%=users_path%>><i class="icon-list icon-white"></i> Employees</a></li>
			<% end %>
			<% if (can? :index, Billing.first) %>
				<li><a href=<%=billings_path%>><i class="icon-tags icon-white"></i> Billings</a></li>
			<% elsif (can? :read, Billing.find_by_company_id(current_user.company_id)) %>
				<li><a href=<%=billings_path+"?id="+current_user.company_id.to_s%>><i class="icon-tags icon-white"></i> Billings</a></li>
			<% end %>
		</ul>
	</div>
</div>