<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
      	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  	<title>Oats</title>
	  	<meta name="description" content="">
        <meta name="viewport" content="width=device-width">
		<%= csrf_meta_tags %>

		<%= javascript_include_tag "application" %>

	  	<%= stylesheet_link_tag "application", :media => "all" %>

	  	<%= favicon_link_tag '/favicon.ico?1' %>
	</head>
	<body>
		<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

		<%= render 'layouts/header' %>

		

		<div class="container content">
		<div class="row">
			 <% flash.each do |name, msg| %>
		      	<% if msg.class == Array %>
		      		<div class="span11 alert alert-error">
		      		<h4><%= pluralize(msg.count, "error") %> prohibited this Signup from completing:</h4>
        			<ul>
				        <% msg.each do |message| %>
				          <li><%= content_tag :div, message, :id => "flash_#{name}" %></li>
				        <% end %>
			        </ul>
			        </div>
			        <% msg.clear %>
		      	<% elsif name.to_s == "notice" %>
					<%= content_tag :div, msg,:id => "flash_#{name}", :class => "span11 alert alert-success" %>
				<% elsif name.to_s == "error" %>
					<%= content_tag :div, msg,:id => "flash_#{name}", :class => "span11 alert alert-error" %>
				<% else %>
					<%= content_tag :div, msg,:id => "flash_#{name}", :class => "span11 alert alert-" %>
				<% end %>
	   		 <% end %>
		</div>
			<%= yield %>
		</div>
		<%= render 'layouts/footer' %>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        
                            <script type="text/javascript">
                              $(function() {
                                $('#datetimepicker4').datetimepicker({
                                  pickTime: false
                                });
                              });
                            </script>
	    <script type="text/javascript"
	     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
	    </script>
	</body>
</html>
